.container_carrinho_modal{
    position: fixed;
    right: 0;
    top: 100px;
    height: calc(100% - 100px);
    width: 25%;
    background-color: rgba(0, 0, 0, 0.672);
    transition: all 0.4s;
    z-index: 99;
}
.container_carrinho_modal_off{
    width: 0%;
    position: fixed;
    right: 0;
    top: 100px;
    height: calc(100% - 100px);
    background-color: rgba(0, 0, 0, 0.672);
    transition: all 0.4s;
    z-index: 99;
}